__pycache__/
venv*
workspace/
out*
saved_out*
all_outputs*
shap_e_model_cache/*
slurm_logs/
debug/
notinclude/
scripts/snap/yamls

# */validataion
*csv
build/
*.egg-info/
*.so
.vscode/ 

tmp*
data/
trial*/
.vs/

TOKEN
*.ckpt
*.pt
densegridencoder
tets/256_tets.npz
