torch-ema
ninja
cmake
setuptools_rust
trimesh
opencv-python
tensorboardX
torch
numpy 
pandas
tqdm
matplotlib
PyMCubes
rich
dearpygui
scipy
huggingface_hub
diffusers
transformers
xatlas
scikit-learn
imageio
imageio-ffmpeg
